body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    overflow-x: hidden;
    width: 1160px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.main-header-index {
    font-size: 16px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
}

.main-header-catalog {
    font-size: 16px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
}


/* Сеточные стили */

.main-header-index {
    margin-bottom: 80px;
    /* Временно для сетки */
    min-height: 544px;
}

.main-header-catalog {
    margin-bottom: 60px;
    /* Временно для сетки */
    min-height: 354px;
}

.main-navigation {
    height: 65px;
    background-color: transparent;
    /*background: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

.main-header-logo {
    width: 435px;
    height: 65px;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 438px;
    margin: 0;
    padding: 0;
    /* временно для сетки */
    height: 65px;
}

.cart-view {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    /* временно для сетки */
    height: 65px;
}

.nav-cart::before {
    content: "";
    display: block;
    float: left;
    margin-right: 26px;
    margin-top: 8px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 15px;
    height: 15px;
}

.header-menu-items {
    display: flex;
    justify-content: space-between;
    height: 16px;
    margin-top: 8px;
    width: 960px;
    font-weight: 600;
}


/* используется как обертка для всего что относится к навигации */

.navigation-wrapper {
    width: 1160px;
    margin: auto;
    padding-top: 49px;
}

.navigation {
    display: flex;
    width: 100%;
    margin-bottom: 19px;
    margin: 0;
    padding: 0;
}

.container {
    width: 1160px;
    margin: auto;
}

.catalog-container {
    width: 1160px;
    margin: auto;
    margin-bottom: -21px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.service-list {
    display: flex;
    margin: 0;
    padding: 0;
    /* временно для сетки*/
    min-height: 347px;
}

.service-item {
    width: 300px;
    /* временно для сетки*/
    min-height: 347px;
    margin-right: 100px;
}

.about-us {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    /* временно для сетки*/
    min-height: 409px;
    margin-bottom: 41px;
}

.main-info {
    width: 660px;
    margin-top: 66px;
}

.stats {
    width: 360px;
    margin-top: 16px;
}

.partners-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-height: 90px;
    margin-top: 35px;
    margin-bottom: 22px;
}

.partner-item {
    width: 209px;
}

.company-location {
    width: 1160px;
    margin: auto;
}

.contacts-wrapper {
    width: 1160px;
    margin: auto;
}

.contacts {
    position: absolute;
    width: 269px;
    height: 308px;
    background-color: white;
    margin-top: 54px;
    padding-left: 50px;
}

.social-contacts-wrapper {
    width: 1160px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

.social-contacts {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 69px;
}

.social-contacts-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    min-height: 78px;
}

.social-contact-item {
    width: 78px;
}

.social-contacts-container {
    width: 259px;
}

.social-suggestion {
    width: 560px;
    height: 64px;
    margin-left: 140px;
}

.site-costs {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

.site-type-header {
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
}

.site-type-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    margin-top: 14px;
    margin-left: 37px;
}

.site-type-list input[type="radio"] {
    display: none;
}

.site-type-list li {
    margin-bottom: 18px;
}

.site-type-list-item label {
    position: relative;
    cursor: pointer;
}

.site-type-list-item input[type="radio"] ~ label::before {
    position: absolute;
    top: -5px;
    left: -35px;
    z-index: 1;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    opacity: 0.4;
    content: "";
}

.site-type-list-item input[type="radio"]:checked ~ label::before {
    background-image: url(../img/radio-on.svg);
}

.site-type-list-item input[type="radio"] ~ label:hover::before, .site-type-list-item input[type="radio"] ~ label:focus::before {
    opacity: 1;
}

.site-type-list-item input[type="radio"]:disabled ~ label::before {
    opacity: 0.1;
}

.site-type-list-item input[type="radio"]:disabled ~ label {
    opacity: 0.3;
}

.site-type-features {
    margin: 0;
    padding: 0;
}

.site-type-features-list li {
    margin-bottom: 10px;
}

.site-type-features-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    margin-top: 11px;
    margin-left: 35px;
}

.site-type-features-list input[type="checkbox"] {
    display: none;
}

.site-type-features-list li {
    margin-bottom: 20px;
}

.site-type-features-list label {
    position: relative;
    cursor: pointer;
}

.site-type-features-list-item input[type="checkbox"] ~ label::before {
    position: absolute;
    top: -2px;
    left: -35px;
    z-index: 1;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    opacity: 0.4;
    content: "";
}

.site-type-features-list-item input[type="checkbox"]:checked ~ label::before {
    background-image: url(../img/checkbox-on.svg);
}

.site-type-features-list-item input[type="checkbox"] ~ label:hover::before, .site-type-features-list-item input[type="checkbox"] ~ label:focus::before {
    opacity: 1;
}

.site-type-features-list-item input[type="checkbox"]:disabled ~ label::before {
    opacity: 0.1;
}

.site-type-features-list-item input[type="checkbox"]:disabled ~ label {
    opacity: 0.3;
}

.site-type-features-list-item input[type="checkbox"], .site-type-features-list-item input[type="radio"] {
    display: none;
}

.customize-left-column {
    margin: 0;
    padding: 0;
    width: 260px;
    height: 772px;
}

.catalog-list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 760px;
    height: 1913px;
}

.catalog-list-item {
    width: 360px;
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.catalog-list-item a {
    text-decoration: none;
}

.catalog-list {
    width: 760px;
    min-height: 16px;
}

.sort-types-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    margin-bottom: 57px;
}

.sort-types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    margin: 0;
    padding: 0;
}

.sort-types-list {
    display: flex;
    width: 300px;
    margin: 0;
    padding: 0;
}

.sort-type-arrows {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.pagination-list {
    display: flex;
    margin: 0;
    margin-top: 60px;
    padding: 0;
    width: 443px;
    height: 50px;
}


/* ------------------------------------------------------------------------------------------------------- */


/* Слайдер */

.slider {
    width: 1160px;
    height: 310px;
    margin: 0 auto;
    position: relative;
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    /* сделать relative */
    bottom: 95px;
    left: 50%;
    width: 120px;
    height: 18px;
    margin-left: -65px;
    margin-bottom: -120px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label {
    display: inline-block;
    width: 12px;
    height: 11px;
    margin-left: 13px;
    background: white;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

#button-1:checked ~ .slider-controls label[for="button-1"], #button-2:checked ~ .slider-controls label[for="button-2"], #button-3:checked ~ .slider-controls label[for="button-3"] {
    background: #c1c1c1;
}

.slide {
    /*position:absolute; - в демке */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-text {
    width: 515px;
    height: 413px;
    padding: 30px 0;
    color: rgb(40, 49, 54);
    padding-top: 78px;
    font-weight: 500;
}

.slide-title {
    font-size: 55px;
    line-height: 55px;
}

.slide-text p {
    font-size: 16px;
    line-height: 24px;
    color: rgb(40, 49, 54);
    margin-top: 28px;
}

.slide .button {
    display: inline-block;
    width: 240px;
    height: 50px;
    padding: 0 20px;
    margin-top: 24px;
    line-height: 48px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}

.slide:nth-child(1) {
    background-image: url('../img/slide1.png');
    background-repeat: no-repeat;
    background-position-x: 431px;
    background-position-y: 18px;
}

.slide:nth-child(2) {
    background-image: url('../img/slide2.png');
    background-repeat: no-repeat;
    background-position-x: 497px;
    background-position-y: 0px;
}

.slide:nth-child(3) {
    background-image: url('../img/slide3.png');
    background-repeat: no-repeat;
    background-position-x: 401px;
    background-position-y: 19px;
}

.slide {
    display: none;
}

#button-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#button-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#button-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}


/* Логотип */

.main-header-logo a:hover {
    opacity: 0.8;
}

.main-header-logo a:focus, .main-header-logo a:active {
    opacity: 0.3;
}


/* Навигация */

.navigation {
    text-transform: uppercase;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    font-size: 16px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.site-navigation a:hover {
    color: rgb(251, 86, 90);
}

.site-navigation a:focus {
    color: rgba(0, 0, 0, 30);
}

.site-navigation a:active {
    opacity: 0.3;
}

.site-navigation-current {
    margin-top: 3px;
    margin-left: 3px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(251, 86, 90);
    padding-bottom: 3px;
    width: 74px;
}

.cart-view a {
    font-size: 16px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.cart-view a:hover {
    color: rgb(251, 86, 90);
}

.cart-view a:focus {
    color: rgba(0, 0, 0, 30);
}

.cart-view a:active {
    opacity: 0.3;
}

.main-header-title h1 {
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    text-transform: none;
}


/*-----------------сложный фильтр------------------------------*/

.range-filter {
    width: 260px;
    margin-top: 45px;
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    width: 50%;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 8px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}


/*-------------------------------------------------------------*/


/* Услуги */

.services {
    margin-bottom: 80px;
}

.service-list li {
    list-style: none;
}

.service-list .service-item-title {
    margin: 0;
    margin-top: 26px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}

.service-list .service-item-description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    color: rgb(40, 49, 54);
}

.service-list button {
    line-height: 18px;
}

.service-list .service-item-image {
    font-size: 0;
}


/* Боковая панель каталога */

.site-type-filters {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color: rgb(40, 49, 54);
}

.site-type-filters span {
    color: rgb(40, 49, 54);
    text-transform: uppercase;
}

.site-type-filters legend {
    padding-top: 2px;
    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.site-type-filters fieldset {
    border: none;
}

.site-type-filters .button-grey {
    width: 260px;
    margin-top: 30px;
    padding: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


/* Пагинация */

.pagination-list {
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
}

.pagination-list a {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 11px;    
    color: #000000;
    background-color: #eeeeee;
    border-radius: 2px;
    text-decoration: none;
}

.pagination-list a:hover, .pagination-list a:focus {
    background-color: #dfdfdf;
}

.pagination-list a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.pagination-item-last a {
    width: 260px;
}

.pagination-item-current a {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 3px #dbdbdb;
}


/* Сортировка каталога */

.catalog-list h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.sort-types-list {
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.sort-types-list li {
    margin-right: 26px;
}

.sort-types-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
}

.sort-types-list a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sort-types-list a:focus {
    color: rgb(0, 0, 0);
}

.sort-types-current {
    color: rgb(0, 0, 0);
}

.sort-type-arrows {
    list-style: none;
}

.sort-type-arrows a {
    opacity: 0.3;
}

.sort-type-arrows a:hover {
    opacity: 0.6;
}

.sort-type-arrows a:focus {
    opacity: 1;
}

.sort-type-current-arrow {
    margin-right: 18px;
}


/* Каталог */

.catalog-item-bottom-hover {
    position: absolute;
    bottom: 0;
    width: 360px;
    text-align: center;
    background-color: #eeeeee;
    visibility: hidden;
}

.catalog-list-item {
    position: relative;
    margin-top: 38px;
    margin-bottom: 35px;
}

.catalog-list-item::before {
    position: absolute;
    top: -39px;
    width: 360px;
    height: 40px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: url("../img/browser.svg");
    opacity: 0.12;
    content: "";
}

.catalog-list-item:hover {
    box-shadow: 0 6px 15px #cfcfcf;
}

.catalog-list-item:hover .catalog-item-bottom-hover {
    visibility: visible;
}

.catalog-list-item:hover::before {
    opacity: 1;
}

.catalog-item-bottom-hover a:first-of-type {
    display: block;
    padding-top: 35px;
    font: inherit;
}

.catalog-item-bottom-hover p {
    display: block;
    width: 239px;
    margin: auto;
    margin-top: 20px;
    line-height: 18px;
    color: #666666;
    white-space: pre-wrap;
}

.catalog-item-bottom-hover .button {
    width: 200px;
    margin: 30px auto 43px;
}

.catalog-item-bottom-hover .button:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 #c13135;
}

.catalog-list-items {
    list-style: none;
}

.browser-button:first-child {
    margin-left: 16px;
}

.brower-img-header:hover {
    background-color: rgba(77, 77, 77, 1);
}


/* О нас */

.about-us .who-we-are {
    font-size: 45px;
    font-weight: 600;
    line-height: 45px;
    margin: 0;
    padding: 0;
}

.about-us .our-principles {
    margin-top: 33px;
    font-size: 16px;
    line-height: 24px;
    color: rgb(40, 49, 54);
}

.about-us h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.stats h4 {
    margin-top: 30px;
    margin-left: 17px;
}

.main-info h4 {
    margin-top: 39px;
}

.about-us ul {
    font-size: 16px;
    line-height: 18px;
    color: rgb(40, 49, 54);
}

.company-metrics {
    margin: 0;
    padding: 0;
}

.company-metrics caption {
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 14px;
}

.company-metrics sup {
    font-size: 62%;
}


/* вот тут не знаю что делать */

.company-metrics li span:nth-child(2) {
    margin-top: 10px;
}

.company-metrics .rate {
    margin-top: 58px;
    margin-right: 13px;
    font-size: 45px;
    line-height: 10.06px;
    font-weight: bold;
}

.company-metrics .description {
    margin-top: 35px;
    margin-right: 13px;
    font-size: 16px;
    line-height: 21px;
}

.services-list-names {
    margin: 0;
    padding: 0;
    list-style: none;
}

.services-list-names li {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 24px;
}

.services-list-names li::before {
    content: "";
    float: left;
    display: block;
    width: 26px;
    height: 15px;
    margin-top: -3px;
    margin-left: 1px;
    margin-right: 10px;
    border-bottom: 2px solid rgb(251, 86, 90);
}


/* Партнеры */

.partners li {
    list-style: none;
}

.partners .partner-company-logo {
    opacity: 0.2;
}

.partners .partner-company-logo:hover {
    opacity: 1;
}

.partners .partner-company-logo:active {
    opacity: 0.1;
}


/* Карта */

.company-location {
    width: 1440px;
    height: 416px;
    margin-top: 80px;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -151px;
}

.company-location .company-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 50px;
}

.company-location .company-address {
    font-size: 16px;
    line-height: 18px;
    color: rgb(102, 102, 102);
    margin-top: 23px;
    padding-left: 2px;
}

.contacts a {
    width: 219px;
    height: 50px;
    margin-top: 20px;
}


/* Социальные кнопки */

.social-contacts-list li {
    list-style: none;
}

.social-contacts-list a:hover {
    background-color: rgb(231, 66, 70);
}

.social-contacts-list a:active {
    background-color: rgb(215, 55, 59);
}

.social-button-vk {
    width: 78px;
    height: 78px;
    background-size: 26px;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("../img/vk-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
}

.social-button-fb {
    width: 78px;
    height: 78px;
    background-size: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
}

.social-button-insta {
    width: 78px;
    height: 78px;
    background-size: 21px;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("../img/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
}

.social-suggestion .social-suggestion-title {
    margin: 0;
    margin-top: 8px;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.social-suggestion .social-suggestion-benefits {
    margin: 0;
    margin-left: 1px;
    margin-top: 11px;
    font-size: 16px;
    line-height: 22px;
}


/* Модальное окно */

.modal-write-us .modal-write-us-title {
    font-size: 45px;
    line-height: 45px;
}

.modal-write-us lable {
    font-size: 16px;
    line-height: 218px;
}

.write-us-item input {
    font-size: 16px;
    line-height: 18px;
    background-color: transparent;
    border: 2px solid rgb(215, 220, 222);
}

.write-us-item input:hover {
    border-color: rgb(180, 185, 187);
}

.write-us-item input:focus {
    border-color: rgb(0, 0, 0);
}

.write-us-item input:invalid {
    border-color: rgb(231, 66, 70);
}

.write-us-item textarea {
    font-size: 16px;
    line-height: 18px;
    background-color: transparent;
    border: 2px solid rgb(215, 220, 222);
}

.write-us-item textarea:hover {
    border-color: rgb(180, 185, 187);
}

.write-us-item textarea:focus {
    border-color: rgb(0, 0, 0);
}

.write-us-item textarea:invalid {
    border-color: rgb(231, 66, 70);
}

.modal-close {
    border: 0;
    padding: 0;
    width: 21px;
    height: 21px;
    display: block;
    background-image: url("../img/close-cross.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 21px;
    background-color: transparent;
    opacity: 0.3;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active, .modal-close:focus {
    opacity: 0.1;
}


/* Кнопки */

.button {
    display: inline-block;
    width: 160px;
    height: 50px;
    padding-top: 17px;
    box-sizing: border-box;
    text-align: center;
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
}

.button-red {
    background-color: rgb(251, 86, 90);
}

.button-red:hover {
    background-color: rgb(231, 66, 70);
}

.button-red:active {
    background-color: rgb(215, 55, 59);
}

.button-green {
    background-color: rgb(0, 202, 116);
}

.button-green:hover {
    background-color: rgb(0, 188, 108);
}

.button-green:active {
    background-color: rgb(0, 170, 98);
}

.button-yellow {
    background-color: rgb(239, 200, 74);
}

.button-yellow:hover {
    background-color: rgb(234, 181, 52);
}

.button-yellow:active {
    background-color: rgb(229, 167, 34);
}

.button-grey {
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
}

.button-grey:hover {
    background-color: rgb(223, 223, 223);
}

.button-grey:active {
    opacity: 0.3;
    background-color: rgb(213, 213, 213, 0.3);
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

.main-header-title {
    font-size: 55px;
    color: rgb(0, 0, 0);
    line-height: 1;
    text-align: center;
    margin-top: 80px;
}

.modal-write-us-title {
    font-size: 45px;
    color: rgb(0, 0, 0);
    line-height: 1;
    text-align: left;
}

.section-separator {
    border: 1px solid rgb(238, 238, 238);
}